body {
  background: #fff;
  font-family: sans-serif;
  background-color: inherit; }

.slider-show-item {
  background: #000; }
  .slider-show-item figure {
    margin: 0;
    padding: 0; }

/*# sourceMappingURL=app.css.map */
